@using BugTrackingSystem.Models.Issues;

@model BugTrackingSystem.Models.Issue

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Issue</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Assignee.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Assignee.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Priority)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Priority)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Summary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Summary)
        </dd>

        @if (Model is Bug) { @Html.Partial(@"Partials\BugView") }
        else if (Model is Improvement) { @Html.Partial(@"Partials\ImproveentView") }
        else if (Model is NewFeature) { @Html.Partial(@"Partials\FeatureView") }
        else if (Model is Story) { @Html.Partial(@"Partials\BugView") }
        else if (Model is Task) { @Html.Partial(@"Partials\BugView") }
    </dl>


     @Ajax.ActionLink("View comments", "View", "Comments", new AjaxOptions{
            UpdateTargetId = "commentsSection",
            HttpMethod = "GET"
      });

    <div id="commentsSection">  </div>

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
