@using BugTrackingSystem.Models.Issues;

@model BugTrackingSystem.Models.Issue

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>

    @if (Model is Bug)
    { @Html.DisplayForModel("Bug") }
    else if (Model is Improvement)
    { @Html.DisplayForModel("Improvement") }
    else if (Model is NewFeature)
    { @Html.DisplayForModel("NewFeature") }
    else if (Model is Story)
    { @Html.DisplayForModel("Story") }
    else if (Model is Task)
    { @Html.DisplayForModel("Task") }

    @Ajax.ActionLink("View work logs", "View", "WorkLog", new { id = Model.Id },
         new AjaxOptions { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "workLogsSection" }, null)

    <section id="workLogsSection"></section>

    <hr />

    @Ajax.ActionLink("View comments", "View", "Comments", new { id = Model.Id },
        new AjaxOptions { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "commentsSection" }, null)

    <section id="commentsSection"></section>

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { issueId = Model.Id, projectId = ViewContext.RouteData.Values["projectId"] }) |
    @Html.ActionLink("Back to List", "Index")
</p>


@section Scripts
{
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
    @Scripts.Render("~/bundles/jquery")
}
