@using BugTrackingSystem.Models.Issues

@model BugTrackingSystem.ViewModels.EditIssueViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@if (Model == null)
{
    @Html.ValidationSummary("", new { @class = "text-danger" });
}
else
{
    using (Html.BeginForm(new { issueId = Model.IssueData.Id, projectId = ViewContext.RouteData.Values["projectId"] }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Issue</h4>
            <hr />
            @Html.HiddenFor(model => model.IssueData.Id)

            @{ Html.BeginForm(); }
            @Html.EditorForModel()

            @Html.Hidden("IssueType", Model.IssueData.TypeName);

            <div id="additionalData">
                @if (Model.IssueData is Bug)
                {
                    @Html.Partial(@"Partials\BugEditor", Model.IssueData)
                }
                else if (Model.IssueData is Improvement)
                {
                    @Html.Partial(@"Partials\ImprovementEditor", Model.IssueData)
                }
                else if (Model.IssueData is NewFeature)
                {
                    @Html.Partial(@"Partials\FeatureEditor", Model.IssueData)
                }
                else if (Model.IssueData is Story)
                {
                    @Html.Partial(@"Partials\BugEditor", Model.IssueData)
                }
                else if (Model.IssueData is Task)
                {
                    @Html.Partial(@"Partials\BugEditor", Model.IssueData)
                }
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
}

<div>
    @Html.ActionLink("Back", "Details", new { issueId = ViewContext.RouteData.Values["issueId"], projectId = ViewContext.RouteData.Values["projectId"] })
</div>
