@model BugTrackingSystem.ViewModels.EditProductViewModel

<div class="form-group">
    @Html.LabelFor(model => model.Product.Id, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Product.Id, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Product.Id, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Product.Name, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Product.Name, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Product.Name, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Product.OwnerId, "OwnerId", htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.DropDownList("OwnerId", Model.AvailableOwners, htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Product.OwnerId, "", new { @class = "text-danger" })
    </div>
</div>
